#header {
  display: flex;
  justify-content: space-between;

  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  margin-bottom: 2rem;
}
#header button {
  font-weight: bold;
  font-size: 13px;
  border: 0;
  background-color: rgb(11, 242, 242);
  color: black;
  /* box-sizing: border-box; */
  padding: 12px 20px;
}
#header p {
  font-weight: bold;
}
